@model List<WeatherBackend.DTO.Base.ForecastDTO>
@{
    ViewData["Title"] = "Render widgets";
}


@foreach (var weather in Model)
{
    <div class="d-flex align-items-center justify-content-between border border-grey mt-2 p-3">
        <div id="location-info">
            <div class="text-primary">@weather.sys.Country</div>
            <div class="d-flex align-items-center flex-row">
                <div class="fw-weight-bold" style="font-size: 24px;">
                    @weather.CorrectName
                    <img style="" width="25px" height="25px" src="https://flagsapi.com/@weather.sys.Country/flat/64.png">
                </div>
            </div>
            <div class="d-flex align-items-center flex-row">
                @switch (weather.weather.Last().Description)
                {
                    case "clear sky":
                        <img class="weather-tracked" src="~/Photo/weather-icons/sunny.png"/>
                        break;
                    case "overcast clouds":
                    case "few clouds":
                    case "broken clouds":
                    case "scattered clouds":
                        <img class="weather-tracked" src="~/Photo/weather-icons/clouds.png"/>
                        break;
                    case "light rain":
                    case "moderate rain":
                        <img class="weather-tracked" src="~/Photo/weather-icons/rain.png"/>
                        break;
                    default:
                        <img class="weather-tracked" src="~/Photo/weather-icons/overcast.png"/>
                        break;
                }
                <div class="fw-weight-bold" style="font-size: 22px; margin-left: 7px;">@($"{weather.main.temp - 273.15:0.00}°C")</div>
            </div>
            <div>Humidity: @weather.main.humidity %</div>
            <div>Visibility: @(weather.visibility) m</div>
            <div><img style="width: 25px; height: 30px;" src="~/Photo/wind.png"/> @weather.wind.Speed m/s</div>
            <div>Pressure: @weather.main.pressure hPa</div>

        </div>

        <div class="d-flex align-items-center flex-column">
            <form method="post" asp-controller="Main" asp-action="DeleteLocation">
                <input type="hidden" name="Name" value="@weather.CorrectName"/>
                <button class="close-button" type="submit">&#10006;</button>
            </form>

            <form method="post" asp-controller="Main" asp-action="WeatherForecast">
                <input type="hidden" name="Latitude" value="@weather.coord.Latitude"/>
                <input type="hidden" name="Longitude" value="@weather.coord.Longtitude"/>
                <button class="btn btn-primary btn-secondary" style="margin-left: 10px;" id="logout-reference" type="submit">View forecast</button>
            </form>
        </div>
    </div>
}